body {
    background-color: #cea00a27;
}

#animate {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 86px;
    font-family: 'Luckiest Guy', cursive; 
}

#input-and-dropdown-div {
    display: inline-flex;
    position: fixed;
    top: 0px;
    align-content: center;
    background-color: #3f72af;
    padding: 20px 16px;
    z-index: 1;
    border-radius: 4px;       
}

#input-box {
    display: flex;
    margin-right: 10px;    
}

#dropdown-box {
    display: flex;
    
}

input {
    font-size: 18px;
}

select {
    font-size: 18px;
}


a:link{
    text-decoration: none;
    color: #3f72af;
}

a:visited{
    text-decoration: none;
    color: #3f72af;
}

a:hover{
    color: rgb(30, 54, 107);
}

a:active{
    text-decoration: none;
}