body {
    background-color: rgb(191, 215, 240);
    margin: 0px auto;
    max-width: 66%;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 2%;
    line-height: 1.5;
}

li {
    margin: 5px;
    }

#nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 30px;
}

#mock-h1 {
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        color: rgba(245, 244, 239, 0.79)
    }

#footer-bar {
        border-top: 2px solid darkgray;
        padding: 30px;
    }

#mock-main {
    display: flex;
}

#mock-body-image {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    height: 40%;
    margin: 3%;

}